<ion-header  >
  <ion-toolbar>

    <!-- <ion-title>Registra Tripulacion</ion-title> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
        <ion-title >
      <ion-img src="./../assets/loomis.png"></ion-img>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-card *ngIf="noDecideComoEnviar" >
    <ion-row >
      <!-- <ion-col size="1"></ion-col> -->
      <ion-col size="12">
        <ion-card-title class="ion-text-center">¿DESEA INGRESAR PATENTE?</ion-card-title>
      </ion-col>    
      <!-- <ion-col size="1"></ion-col>   -->
    </ion-row>

    <br>

    <ion-row>
      <!-- <ion-content> -->
        <ion-col size="12">

          <!-- BOTON SI ENVIAR PATENTE -->
          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
              <ion-button expand="block"
                (click)="usarPatente()" 
                color="success"
                class="ion-text-center">
                SI
              </ion-button>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>

          <br>
          <br>

          <!-- BOTON NO ENVIAR PATENTE -->
          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
              <ion-button expand="block"
                (click)="goToReadNfc()" 
                color="warning"
                class="ion-text-center">
                  NO
              </ion-button>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>

        </ion-col>
      <!-- </ion-content> -->
    </ion-row>
    
  </ion-card>

  <!-- <br *ngIf="enviarPatente">
  <br *ngIf="enviarPatente">
  <br *ngIf="enviarPatente"> -->


  <!-- INGRESO DE PATENTE -->
  <ion-row *ngIf="enviarPatente">
    <ion-col size="12">
      <ion-card>
        <ion-card-title class="ion-text-center">INGRESE PATENTE</ion-card-title>
        <ion-card-content>
          <ion-input  type="text"
                      placeholder="Ejemplo: DRKJ-21"
                      (ionChange)="patenteOnChange($event)"
                      class="ion-text-center"></ion-input>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <br>

  <ion-row *ngIf="enviarPatente">
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-button expand="block"
      (click)="goToReadNfc()" 
      color="warning"
      class="ion-text-center">
        Guardar
    </ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <br>
  <ion-row *ngIf="enviarPatente">
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-button expand="block"
      (click)="cancelar()" 
      color="medium"
      class="ion-text-center">
        Cancelar
    </ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>

</ion-content>

