ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

// #loomis {
//   margin-top: -110px;
// }

// ion-thumbnail {
//   --size: 80px;
//   width: 120px;
// }

// ion-toolbar {
//   // --background: url('/assets/loomis.svg') no-repeat fixed center;
//   --background: src('./../../assets/loomis.svg') no-repeat fixed center;
//   // --background-size: cover;
//   // --background: transparent;
// }

ion-img {
  // align-self: center;
  height: 80px;
  width: 120px;
  
}

ion-title {
  padding: 0px 60px 0px 60px;
}

.personal_icon {
    padding: 0px 10px 0px 0px;
}

// ion-toolbar {
//     --background: url('https://direct.loomis.com/static/media/loomis-logo.14b9f4ea.svg') bottom no-repeat;
// }

.ion-text-center {
  font-size: 30px;
}
