<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <br>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Acerque NFC</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
    
          <ion-list>
            <ion-item *ngFor="let codigo of listNFCs">
              <ion-label>{{codigo}}</ion-label>
              <ion-button  color="danger" (click)="deleteItem(codigo)">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>    
    
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-button expand="block"
      (click)="readNfc()" 
      color="warning">Forzar Lectura</ion-button>

    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-button expand="block"
      (click)="goToList()" 
      color="primary">Siguiente</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>


</ion-footer>
