<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img  src="./../assets/loomis.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen="true">
  <form #form="ngForm" (ngSubmit)="loginLoomis(form)" method="post">
    <!-- <ion-row> -->
      <br>
      <br>
      <ion-card>
        <ion-card-content>

          <ion-item>
            <ion-label class="login-label" position="floating">Usuario</ion-label>
            <ion-input class="login-label" ngModel type="email" name="email"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label class="login-label" position="floating">Clave</ion-label>
            <ion-input class="login-label" ngModel type="password" name="password"></ion-input>
          </ion-item>

          <br>
          <br>
          <ion-button class="login-label" type="submit" expand="block" color="primary">INGRESAR </ion-button>
          
        </ion-card-content>
      </ion-card>
    <!-- </ion-row> -->

    

    
      
  </form>

</ion-content>