<app-header></app-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Viaje en vehiculo:</ion-card-subtitle>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let codigo of listNFCs">
        <ion-label>{{codigo}}</ion-label>
      </ion-item>
    </ion-list>
    
  </ion-card>


</ion-content>

<ion-footer>
  <ion-button expand="full"
  (click)="goToInicio()" 
  color="danger">Cancelar</ion-button>

<ion-button expand="full"
  (click)="saveViaje()" 
  color="primary">Enviar</ion-button>
</ion-footer>
